# プロジェクトのベースパッケージ
nablarch.commonProperty.basePackage=com.example

# REST APIのルートパス
nablarch.webApi.applicationPath=/api

# 業務日付のデフォルト区分
nablarch.businessDateProvider.defaultSegment=01

# トランザクションタイムアウト時間（秒）
nablarch.transactionFactory.transactionTimeoutSec=15

# データベースへの値自動設定機能で設定する現在日付のデフォルトフォーマット
nablarch.currentDateTimeAnnotationHandler.dateFormat=yyyyMMdd

# ステートメントのフェッチサイズ
nablarch.statementFactory.fetchSize=50

# JDBCドライバがステートメントの実行を待つ秒数
nablarch.statementFactory.queryTimeout=600

# トランザクション分離レベル
nablarch.transactionFactory.isolationLevel=READ_COMMITTED

# SQLファイルのエンコーディング
nablarch.sqlLoader.fileEncoding=utf-8

# スレッドコンテキストハンドラの言語設定
nablarch.languageAttribute.defaultLanguage=ja
nablarch.languageAttribute.supportedLanguages=ja
nablarch.languageAttribute.cookieMaxAge=600000

# 未ログイン時、ログに出力するユーザID
nablarch.userIdAttribute.anonymousId=guest

# デフォルトのセッションストア名
nablarch.sessionManager.defaultStoreName=httpSession
# セッションストアの有効期限(秒)
nablarch.sessionManager.expires=1800
# セッションストア用クッキーの名称
nablarch.sessionStoreHandler.cookieName=NABLARCH_SID
# セッションストア用クッキーのパス属性
nablarch.sessionStoreHandler.cookiePath=/
# セッションストア用クッキーのセキュア属性
nablarch.sessionStoreHandler.cookieSecure=false
