body {
  margin: 0;
}

.PageHeader_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  border-bottom: solid 1px black;
  background: black;
}
.PageHeader_title {
  color: white;
  font-size: 1.5rem;
}
.PageHeader_header a {
  text-decoration: none;
}
.PageHeader_nav {
  display: flex;
  list-style: none;
}
.PageHeader_nav li {
  margin-left: 30px;
  color: white;
}
.PageHeader_nav a {
  color: white;
}
.PageHeader_nav button,
.PageHeader_nav button:active,
.PageHeader_nav button:hover {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  color: white;
}

.Signup_content {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  text-align: center;
}
.Signup_box {
  width: 50%;
}
.Signup_title {
  height: 70px;
}
.Signup_title h1 {
  margin: 10px 0;
}
.Signup_form {
  width: 50%;
  padding: 0 25%;
}
.Signup_item {
  margin: 20px 0;
  height: 75px;
}
.Signup_item input {
  width: 100%;
  border-radius: 5px;
  padding: 8px;
  border: solid 1px lightgray;
  background-color: #fafbfc;
  font-size: 16px;
  margin-top: 10px;
  outline: none;
}
.Signup_item input:focus {
  background-color: white;
}
.Signup_label {
  text-align: left;
}
.Signup_buttonGroup {
  text-align: center;
  margin-top: 40px;
}
.Signup_button {
  width: 175px;
  cursor: pointer;
  line-height: 1;
  border: none;
  font-size: 1rem;
  color: white;
  background-color: darkgreen;
  border-radius: 5px;
  padding: 15px 30px;
}
.Signup_button:hover {
  background-color: green;
}
